<h3>Your lists</h3>
<label>Search: <input ng-model="searchText"></label>

<div ng-repeat="list in lists | filter:searchText">

	<a ng-href="#!lists/items/{{list.id}}">
		<div class="panel panel-default">
		  <div class="panel-body">
		   {{list.description}}
		  </div>
		</div>
	</a>
  
</div>

 <form name="itemFrm" class="pull-right">
     <input type="te xt" name="newItem" ng-model="newList" placeholder="Add New List" required />
     <button ng-disabled="itemFrm.$invalid" ng-click="submitList()">Add</button>
  </form>

</form>
