<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <title>TodoApp</title>

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">

  <nav class="navbar navbar-inverse" ng-controller="NavbarController">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TodoApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li ng-class="{active: routeIs('/')}"><a href="#!">Home</a></li>
        <li ng-class="{active: routeIs('/lists')}"><a href="#!/lists">My Lists</a></li>
      </ul>


      <ul class="nav navbar-nav pull-right">
        <li ng-if="!current_user" ng-class="{active: routeIs('/help')}"><a href="#!login">Login</a></li>
        <li ><a ng-click='signOut()'>Sign out</a></li>
      </ul>
    </div>
  </nav>

  <ng-view></ng-view>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/UserSessionsController.js"></script>
<script src="js/controllers/NavbarController.js"></script>
<script src="js/controllers/MainController.js"></script>
<script src="js/controllers/ListsController.js"></script>
<script src="js/controllers/ItemsController.js"></script>
</body>
</html>