<h3>Your items for list</h3>
<label>Search: <input ng-model="searchText"></label>

<select name="" id="" ng-model="filterByState">
<option value="">State (all)</option>
  <option value="finished">Done</option>
  <option value="undone">Undone</option>
</select>

<div ng-repeat="item in items | filter:searchText | filter:{state:filterByState}">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">TODO</h3>
	  </div>
	  <div class="panel-body">
	    {{item.title}}

		  <button ng-if="item.state != 'finished'" class="pull-right btn btn-danger btn-sm" ng-click="makeDone(item)">Mark as Done</button>
		  <button ng-if="item.state == 'finished'" class="pull-right btn btn-success btn-sm">Finished</button>
	  </div>
	</div>
</div>


<a href="#!/lists">Back to Lists</a>

 <form name="itemFrm" class="pull-right">
     <input type="te xt" name="newItem" ng-model="newItem" placeholder="Add New Item" required />
     <button ng-disabled="itemFrm.$invalid" ng-click="submitItem()">Add</button>
  </form>

</form>
